.grid-container {
  display: grid;
  margin-top: 20px;
  gap: 10px 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  justify-content: space-evenly;
}

/* .html {
    display: grid;
    gap: 5px 5px;
    background: rgb(84, 87, 87);
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
} */

.button {
    padding: 10px 15px 10px 15px;
    font-size: 14px;
}

.button-item {
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}

.button_minus {
    padding: 10px 10px 5px 10px;
    background: rgb(255, 145, 145);
}

.button_create {
    padding: 10px 20px 10px 20px;
    background: rgb(124, 255, 98);
}

footer {
    background: rgb(50, 169, 190);
    display:  grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
}

header {
    background: rgb(7, 163, 190);
}

main {
    background: rgb(34, 147, 167);
    width: 97vw;
    height: 50vh;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px auto 100px;    
    justify-content: center;
    width: fit-content;
    height: 90vh;
}

html {
    background: rgb(34, 147, 167);
}

.order {
    font-size: 20px;
}