{% extends "base.html" %}
{% block title %}Order{% endblock %}
{% block header %}
    <label>Order</label>
{% endblock %}

{% block main %}
    <select id="tables" onchange="onSelectChange(event)">
        <option value="{{ holder }}">{{ holder }}</option>
        <option value="new">--- new ---</option>
        {% for table in tables %}
            <option value="{{ table._id }}">{{ table._id }} | {{table.bill}}$</option>
        {% endfor %}
    </select>
    <div class="grid-container">
        {% for item in items %}
        <div class="grid-item">
            <button class="button-item" type="button" onclick="countClick('{{ item._id }}')">{{ item._id }}<br><span id="{{ item._id }}-count">0</span></button>
            <button class="button_minus" type="button" onclick="countDown('{{ item._id }}')">-</button>
        </div>
    {% endfor %}
    </div>
    
{% endblock %}

{% block footer %}
    <!-- <button id="check" onclick="check()">ADD</button> -->
    <form id="foodForm" action="/create-order" enctype="multipart/form-data" method="post" onsubmit="check(event)">
        <input class="button_create" type="submit" value="create">
    </form>
    
    <script>
        let tableName = '{{ holder }}';
        function onSelectChange(event) {
            console.log(event.target.value);
            tableName = event.target.value;
        }

        const foodCount = {};
        function countClick(food) {
            if (foodCount[food]) {
                foodCount[food] += 1;
                document.getElementById(`${food}-count`).textContent = foodCount[food];
            } else {
                foodCount[food] = 1;
                document.getElementById(`${food}-count`).textContent = foodCount[food];
                }
            }
        function countDown(food) {
            if (foodCount[food]) {
                foodCount[food] -= 1;
                document.getElementById(`${food}-count`).textContent = foodCount[food];
                }
            }
        
        function check(event) {
            if (tableName == 'new' || tableName == 'Choose the table') {
                let name=prompt("Label:");
                tableName = name
                if (name=null){
                    alert("Writedown a name");
                }else{
                    if (confirm(`to ${tableName} you add ${JSON.stringify(foodCount)}`)) {
                        console.log("You pressed GOOD!");
                        let data = {
                            "table": tableName,
                            "order": foodCount
                        };
                        event.preventDefault();
                        fetch('/create-order', {
                            method: 'POST',
                            headers: {
                            'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).then(response => response.json());
                        window.location.replace("/");
                        } else {
                        console.log("You pressed Cancel!");
                    }
                }
            }else{
                if (confirm(`to ${tableName} you add ${JSON.stringify(foodCount)}`)) {
                    console.log("You pressed GOOD!");
                    let data = {
                        "table": tableName,
                        "order": foodCount
                    };
                    event.preventDefault();
                    fetch('/create-order', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    }).then(response => response.json());
                    window.location.replace("/");
                    } else {
                    console.log("You pressed Cancel!");
                }
            }
        }        
    </script>
{% endblock %}